body {
    width: 100%;
    margin: 0;
    font-size: 10px;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

/* ===== Navigation ========= */
.navbar {
    position: fixed;
    top: 0;
    height: 5em;
    width: 100%;
    background-color: #fff;
    border: 2px solid black;
    z-index: 1;

}

.logo {
    max-width: 130px;
    margin: 2em;
}

.nav-content {
    float: right;
}

.nav-content li {
    display: inline;
    margin: 1.5em 0.5em;
    font-size: 1.5em;
}

/* ===== Main Page =========== */
.text {
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;

}

.photos img {
    position: relative;
    display: block;
    width: 100vw;
    max-height: 100vh;
    object-fit: cover;
}

.text h2 {
    position: relative;
    top: 50%;
    text-align: center;
    font-weight: 200;
    font-size: 3em;
}

/* ===== Media Queries ==== */
@media all and (min-width: 990px) {

    .photos img,
    .text {

        display: inline-block;
        width: 50%;
    }

    .text {
        float: left;
    }

    .photos img {
        height: 100vh;
        vertical-align: top;
        float: right;
    }
}