body {
    width: 100%;
    margin: 0;
    font-size: 10px;
    box-sizing: border-box;
    color: rgb(77, 75, 75);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

/* ===== Typography ========= */
h1 {
    font-weight: 100;
    font-size: 3.5em;
}

h2 {
    font-weight: 100;
    font-size: 3em;

}

p,
li {
    font-size: 1.7em;
    line-height: 1.8em;
    color: rgb(95, 94, 94);
}

/* ===== Navigation ========= */
.navbar {
    position: fixed;
    top: 0;
    height: 5em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid black;
    z-index: 1;

}

.nav-content .hidden {
    display: none;
}

.logo {
    max-width: 130px;
    margin: 2em;
}

.nav-content {
    float: right;
}

.nav-content li {
    display: inline;
    margin: 1.5em 0.5em;
    font-size: 1.5em;
}

/* ===== Main Page =========== */
.text {
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;

}

.photos img {
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.text h2 {
    position: relative;
    top: 50%;
    text-align: center;


}


/* ===== About Page ========== */

#about {

    padding: 150px 10vw;
}

#about .container {
    max-width: 1140px;
    width: 80vw;

}

#about .container img {
    width: 100%;
    margin: 6.5em 0;
}

h2+p {
    margin-bottom: 4em;

}

.clients {
    margin-left: -4em;
    list-style-type: none;
}

/* ==== Portfolio ==== */
#portfolio .container::before,
#portfolio .container::after {
    content: " ";
    display: block;
    margin-bottom: 20em;
}


#portfolio .container {
    max-width: 1140px;
    width: 80vw;
    margin-right: auto;
    margin-left: auto;

}

#portfolio .container img {
    width: 100%;
    height: 260px;
    padding: 1em 0;
    object-fit: cover;
}

/* ===== Media Queries ==== */
@media all and (min-width: 990px) {

    /* === HomePage ==== */
    .photos img,
    .text {

        display: inline-block;
        width: 50%;
    }

    .text {
        float: left;
    }

    .photos img {
        height: 100vh;
        vertical-align: top;
        float: right;
    }

    /* === About Me Page === */
    #about {
        padding: 150px 20px;
    }

    #about .container {
        margin-left: auto;
        margin-right: auto;
    }

    .about-me-text {
        padding: 10px;
    }

    .about-me-text h2 {
        float: left;
        width: 25%;

    }

    .about-me-text p {
        float: left;
        width: 75%;
    }

    .columns-3 {
        float: left;
        width: 75%;
        margin-top: 1.5em;
        margin-bottom: 6em;

    }

    .clients {
        float: left;
        width: 33.3%;

    }

    /* ==== Portfolio page ==== */
    #portfolio .container {
        width: 90vw;
    }

    #portfolio .container img {
        width: 30%;
        padding: 1em 10px;

    }