.nav-content {
    visibility: hidden;
}

.hamburger {
    position: absolute;
    top: 10px;
    right: 0;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    background-color: yellow;
}

.bar-1,
.bar-2,
.bar-3 {
    width: 35px;
    height: 3px;
    margin: 5px 0;
    background-color: rgb(83, 83, 83);
    border-radius: 2px;

}

.change .bar-1 {
    transform: rotate(45deg) translate(11px, 8px);
}

.change .bar-2 {
    opacity: 0;
}

.change .bar-3 {
    transform: rotate(-45deg) translate(0px, 0px);
}

.show {
    visibility: visible;
    display: block;
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;

}

#menu li {
    display: block;
    box-sizing: border-box;
    background-color: red;
    border: 1px solid black;
    padding: 1em;
    margin: 1em auto;
    max-width: 50vw;
    height: 10vh;

}